SERVICE_PORT=8080
TOKEN_SECRET=eeeeeeeeeeeeits
DB_PATH=data/auth.db
ORDER_SERVICE_ADDR=order:50051
PRODUCT_SERVICE_ADDR=product:50052
WAREHOUSE_SERVICE_ADDR=warehouse:50053
SHOP_SERVICE_ADDR=shop:50054